<nav>
    <img src="/mntn_Logo.svg" alt="mntn_Logo">
    <ul>
        <li><a href="#">Equipment</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
    <div><img src="/account_circle.svg" alt="Account">&nbsp;&nbsp;&nbsp;Account</div>
</nav>