<%-include('./partials/head')%>
<body>
    <section id="first">
    <header>
        <%-include('./partials/navigation')%>
    </header>
    <img class="clouds" src="/HG.png" alt="">
    <img class="alps" src="/MG.png" alt="">
    <img class="ground" src="/VG.png" alt="">
    <div class="bePrepared">
        <h5>
            <span>––––––––––––</span> A Hiking guide
        </h5>
        <h1>
            Be prepared for<br>the Mountains<br>and beyond!
        </h1>
    </div>
    </section>
</body>